.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
  }
.page-title{
    color: #fce138;
    
}  
h2{
    display: inline-block;  
    border-bottom: #fce138 solid 4px;
    padding: 0 80px 0 80px;
    font-weight: normal;
    font-size: 42px;
    font-style: italic;
}
.secondary-content{

    width: 80%;
    margin: auto;
    color:#024e76;
    text-align: justify;

}
.secondary-content h3{
    font-size: 24px;
    margin: 20px 0 20px 0;
}

.secondary-content p{
    font-size: 16px;
    margin: 20px 0 20px 0;
    line-height: 1.5;
}
.secondary-content ul{

    margin: 15px 20px 15px 20px;
}
.secondary-content li{
   
    margin: 10px 0 10px 0;
    color: #39a6b2;